h1 {
    text-align: center;
}
.displayContainer {
    display: grid;
    width: 100%;
    column-gap: 4%;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
ol {
    font-weight: 300;
    padding: 10px;
    list-style-position: outside;
}
.bookStyle {
    padding: 10px;
    border: 1px solid red;
    border-radius: 15px;
}
ul {
    font-weight: 300;
    padding: 10px;
    list-style-position: outside;
    list-style-type: upper-roman;
}
.thingStyle {
    padding: 10px;
    border: 1px dashed red;
    border-radius: 15px;
}
h3 {
    font-weight: 500;
}
.space {
    width: 100%;
    margin-top: 60%;
}
.index {
    float: right;
    margin-bottom: 20px;
}
li {
    margin-left: 40px;
}
a {
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}