h1 {
    text-align: center;
}
.column_left {
    float: left;
    width: 45%;
}
.column_right {
    float: right;
    width: 45%;
}
ol {
    border: 1px solid red;
    border-radius: 15px;
    font-weight: 300;
    padding: 10px;
    list-style-position: outside;
}
ul {
    border: 1px dashed red;
    border-radius: 15px;
    font-weight: 300;
    padding: 10px;
    list-style-position: outside;
    list-style-type: upper-roman;
}
/* Did not fix issue: testing out adding ol to name */
/* ol.list_display { 
    font-weight: 300;
    padding: 10px;
    list-style-position: outside;
} */
h3 {
    font-weight: 500;
}
.space {
    width: 100%;
    margin-top: 60%;
}
.index {
    float: right;
    margin-bottom: 20px;
}
li {
    margin-left: 40px;
}
a {
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}